
<!DOCTYPE html>
<script type="text/javascript" src="create-gig.js"></script>
<html  lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
        rel="stylesheet"
        />
        <title>Create Gig</title>
        <script>
            function validateForm() {
                let x = document.forms["createGig"]["minBid"].value;
                if(x <= 0) {
                    alert("The minimum bidding should not be less than RM1");
                    return false;
                }
                else  {
                    function clicked() {
                    if (confirm('Do you want to submit?')) {
                        yourformelement.submit();
                    } else {
                        return false;
                    }
                }

                }               
            }
        </script>
    </head>
    <style>
        form {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        label {
            font-size: 0.8rem;
            font-weight: 500;
        }
        input {
            width: 100%;
            border: 1px solid #adb5bd;
            padding: 0.2rem 0.4rem;
        }
        .global-container {
            background-color: #e9ecef;
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card {
            background-color: white;
            outline: #ced4da solid 1px;
            min-width: 550px;
            color: #212529;
        }
        .card-body {
            padding: 2rem 2rem;
        }
    </style>
    <body>
        <div class="">
            <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/93/93634.png" width="30" height="30"></a>
          </div>
        <div class="global-container">
            <div class="card">
              <div class="card-body">
        <h1>Create Gig Form</h1>
        <% if (message) { %>
            <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
            <% } %>
        <form action=/create-gig method="post" name="createGig" onsubmit="validateForm()">
            <div class="form-group">
                <label for="gigTitle"> Gig Title: </label><br>
                <input type="text" id="gigTitle" name="gigTitle" value="" required><br><br>
            </div>
            <div class="form-group">
            <label for="gigDesc"> Gig Description: </label><br>
            <input type="text" id="gigDesc" name="gigDesc" value="" required><br><br>
            </div>
            <div class="form-group">
                <label for="location"> Location </label><br>                    
                <input type="text" id="location" name="location" value="<%= user.location %> - <%= location_name[0].location_name %> " required><br><br>     
                
            </div>
            <div class="form-group">
            <label for="minBidAmt"> Minimum Bid (RM): </label><br>
            <input type="float" id="minBidAmt" name="minBidAmt" value="" required><br><br>
            </div>
            <div class="form-group">
            <label for="gigPoster"> Person In Charge: </label><br>
            <input type="text" id="gigPoster" name="gigPoster" value="<%= user.fName %> <%= user.lName %>" required><br><br>
         </div>
            <div class="form-group">
            <label for="startBidAmt"> Start Bidding Amount: </label><br>  
            <input type="float" id="startBidAmt" name="startBidAmt" value="" required><br><br>
        </div>
        <div class="form-group">
            <label for="endBidDate"> End Bidding Date: </label><br>    
            <input type="date" id="endBidDate" name="endBidDate" value="" required><br><br>
            <!-- restriction for past date -->
            <!-- <script> bidEnd.min = new Date().toLocaleDateString('en-ca');</script> -->
        </div>
        <div class="form-group">
            <label for="GigImage"> Upload Image</label><br>    
            <input type="file" id="GigImage" name="GigImage" accept='image/*'><br><br>
        </div>
            
            <input id="createGig-btn" type="submit" value="Submit">

        </form>
              </div>
              </div>
              </div>

    </body>
    <!-- <script> src="create-gig.js"</script> -->
</html>
