<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="script/gig_post/bootstrap/css/bootstrap.min.css">
    <title>Gig Getter | Marketplace</title>
  </head>

  <style>
/* 
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
} */


/* .test {
   display: flex;
    flex-direction: row;
   
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
} */

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* margin: 8px; */
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}  

.about-section {
  padding: 20px;
  text-align: center;
  background-color: #ee8b5d;
  color: white;
}

.container {
  padding: 0 10px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
  </style>

  <body>
    <nav class="navbar navbar-light navbar-expand-md bg-light border rounded-0 shadow" style="background: rgb(255,255,255);">
      <div class="container-fluid"><a class="navbar-brand fw-semibold" href="#">Gig Getter</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link active" id="profilePage" href="/profile">Profile Page</a></li>
                  <li class="nav-item"><a class="nav-link active" id="createPost" href="create-gig">Create Post</a></li>
                  <li class="nav-item"><a class="nav-link active" id="logout" href="/logout">Logout</a></li>
              </ul>
          </div>
      </div>
  </nav>
  
    <h2 style="text-align:center">Services available</h2>

    

    <% if(marketplaces.length) { %>
    <% for(i=0;i<marketplaces.length;i++){  %>


  <div style= "margin: auto" class="card">
    <div class="container"> 
    <h3><%=marketplaces[i].gigTitle%></h3>
    <h5><%=marketplaces[i].fName%> <%=marketplaces[i].lName%></h5> 
    <h5><%=marketplaces[i].gigDescription%></h5>
   
    <br>
    <form action="/marketplace" method="post">
      <button name = "button" value = <%=marketplaces[i].gigPostID%>  type="submit" class="button">Book</button>
    </form>
    <br>
    <br>
    </div>
  </div>

    <br>
         
            <% } %>
            <% } else{  %>
              <br>
        <div class="col-lg-12 col-md-12 col-sm-12">
              <h2 style="color: #db3636;" class="text-center mt-5 mb-5">No service available</h2>
        </div>
            <br>
            <%  }  %>

            <script>
              function myFunction() {
                document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
              }
            </script>
            
    


</body>

</html>